PORT=3000
DATA_FILE_PATH=./data/events.json

TG_BOT_TOKEN=
TG_POLLING_INTERVAL=2000
TELEGRAM_ALLOWED_CHAT_ID=

LOG_DIR=./logs
LOG_LEVEL=info
LOG_MAX_SIZE_MB=5
LOG_MAX_FILES=5

BACKUP_DIR=./data/backups
BACKUP_KEEP_DAYS=7

APP_TIMEZONE=Asia/Tomsk
APP_LOCALE=ru-RU

